.pagination-container {
  display: flex;
  gap: 5px;
}

.pagination-button {
  padding: 5px;
}

.film-list {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
