<div>Popular movies</div>
<app-search-bar (onSearch)="filter($event)"></app-search-bar>

<div class="pagination-container">
  <span *ngIf="movieData"> {{ pageNumber }} / {{ movieData.total_pages }}</span>
  <button (click)="getNextPage()">Next</button> <!-- disable the button if we are on the last page  -->
  <button (click)="getPreviusPage()">Previous</button><!-- disable the button if we are on the first page  -->
  <app-loading *ngIf="isLoading"></app-loading>
</div>

<!-- you can combine the two condition with on div
  <div *ngIf="!isLoading && movieData" class="film-list">
    <div *ngFor="let movie of movieData.results"  >
      <app-movie-card [movie]="movie"></app-movie-card>
    </div>
  </div>
-->

<div *ngIf="!isLoading">
  <div *ngIf="movieData" class="film-list">
    <div *ngFor="let movie of movieData.results"  >
      <app-movie-card [movie]="movie"></app-movie-card>
    </div>
  </div>
</div>
